@use '@utils/mixins' as mixins;

.category {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--text-light);
  cursor: pointer;

  &__infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.85rem;
    font-weight: bold;
    padding-right: 11px;
    gap: 6px;

    &__name {
      @include mixins.fast-transition;
      @include mixins.shrink(0.95);
      width: 100%;
      overflow: hidden;

      &>span {
        white-space: nowrap;
        text-transform: uppercase;
      }

      &:hover {
        color: var(--text);
      }

      &>i {
        @include mixins.transition(transform);

        transform: rotate(-90deg);
      }

      &--active {
        &>i {
          transform: rotate(0);
        }
      }
    }

    &__actions i {
      @include mixins.fast-transition;
      @include mixins.shrink(0.85);
      font-size: 1.02rem;

      &:hover {
        color: var(--text);
      }
    }

    &>div {
      gap: 4px;
      display: flex;
      align-items: center;
    }
  }

  &__channels {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
