@import '@utils/mixins';

#chat-input {
  @include fast-transition;

  width: calc(100% - 24px);
  min-height: 38px;
  position: absolute;
  bottom: 12px;
  left: 12px;
  right: 12px;
  max-height: 50vh;
  overflow: hidden;

  &__editor {
    width: 100%;
    height: 100%;
    border-radius: var(--medium-radius);
    border: none;
    background-color: var(--primary);
    outline: none;
    padding: 10px 70px 10px 40px;
    color: var(--text-light);
    font-size: 1.05rem;
    overflow: auto;
    word-break: break-all;
    max-height: 50vh;

    &:not(:focus):empty::before {
      content: 'Message #' attr(data-name) !important;
      color: var(--color-light) !important;
      height: 20px;
    }

    &:focus,
    &:not(:empty) {
      color: var(--text);
    }
  }

  &__attachments {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--text-light);
    display: flex;
    align-items: center;
    justify-content: center;

    &>i {
      @include fast-transition;
      @include shrink(0.85);

      display: flex;
      align-items: center;

      &:hover {
        color: var(--text);
      }
    }
  }

  &__actions {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 8px;

    &>i {
      @include fast-transition;
      @include shrink(0.85);

      color: var(--text-light);
      font-size: 1.4rem;
      cursor: pointer;

      &:hover {
        color: var(--text);
      }
    }
  }

  &:has(&__editor:active) {
    transform: scale(0.97);
  }
}
