#channel-list {
  background-color: var(--tertiary);
  min-width: 240px;
  max-width: 240px;
  height: 100%;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 14px 8px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0;
  }
}
