.command {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 8px;
  font-size: 15px;
  border-radius: var(--small-radius);
  border: 1px solid transparent;
  overflow: hidden;

  &__header {
    display: flex;
    align-items: center;
    gap: 5px;

    .command__args {
      display: flex;
      align-items: center;
      gap: 5px;

      & > span {
        font-size: 12px;
        padding: 2px;
        border-radius: 4px;
        background-color: var(--tertiary);
      }
    }
  }
  
  
  &__desc {
    font-size: 12px;
    color: var(--text-light);
  }

  &:hover, &--active {
    border: 1px solid rgba(255,255,255,0.1);
    background-color: var(--quinary);
  }
}
