@use "@utils/mixins" as mixins;

.channel {
  @include mixins.fast-transition(transform);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  color: var(--text-light);
  border-radius: var(--small-radius);
  padding-right: 12px;
  font-size: 1rem;

  &>div {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__infos {
    padding: 8px 12px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-transform: lowercase
  }

  &__actions {
    @include mixins.fast-transition(transform);

    color: var(--text-light);
    opacity: 0;

    & i {
      @include mixins.shrink(0.85);
      @include mixins.fast-transition;

      &:hover {
        color: var(--text);
      }
    }
  }

  &:hover {
    background-color: var(--secondary);
    color: var(--text);

    & .channel__actions {
      opacity: 1;
    }
  }

  &:has(.channel__infos:active) {
    transform: scale(0.95);
  }
}
