@use '@utils/mixins' as mixins;

.server-button {
  @include mixins.transition;
  @include mixins.shrink;

  background-color: var(--primary);
  cursor: pointer;
  width: 46px;
  min-width: 46px;
  height: 46px;
  min-height: 46px;
  border-radius: 100%;

  &:hover {
    background-color: var(--discord);
    border-radius: 10px;
  }
}
