@use '@utils/mixins' as mixins;

.user {
  @include mixins.fast-transition;
  @include mixins.shrink(0.95);

  display: flex;
  align-items: center;
  min-width: 100%;
  min-height: 48px;
  gap: 12px;
  padding: 0 8px;
  border-radius: var(--medium-radius);
  color: var(--text-light);
  cursor: pointer;

  &__infos {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    overflow: hidden;
    white-space: nowrap;

    &>span {
      color: var(--text);
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &>small {
      font-size: 0.87rem;
      text-overflow: ellipsis;
      overflow: hidden;
      text-transform: capitalize
    }
  }

  &__avatar {
    @include mixins.status-dot(offline, var(--tertiary));

    position: relative;
    min-width: 32px;
    min-height: 32px;
    background-color: var(--discord);
    border-radius: 50%;

    &--online {
      @include mixins.status-dot(online, var(--tertiary));
    }

    &--idle {
      @include mixins.status-dot(idle, var(--tertiary));
    }

    &--dnd {
      @include mixins.status-dot(dnd, var(--tertiary));
    }
  }

  &:hover {
    background-color: var(--secondary);
  }
}
