#channel-data {
  width: 100%;
  height: 100%;
  background-color: var(--tertiary);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  &__messages {
    height: inherit;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    gap: 12px;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}
