#user-list {
  min-width: 240px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--tertiary);
  border-radius: var(--radius);
  padding: 12px;
  gap: 6px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;
  }
}
